{
  "check-coverage": true,
  "lines": 95,
  "statements": 95,
  "functions": 95,
  "branches": 95,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "spec/**/*.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "cache": true,
  "report-dir": "./coverage"
}
